@charset "utf-8";


/*Téléphone mobile*/
@media screen and (max-width:768px) {
    body{
        border: red dotted 8px;
    }
 
}
/*Tablette*/
@media screen and (min-width: 768px)and (max-width:1200px){
    body{
        border: rgb(255, 187, 0) dashed 8px;
    }
}

/*Ordinateur*/
@media screen and (min-width: 1200px){
    body{
        border: rgb(0, 255, 13) solid 8px ;
    }
}