@charset "utf-8";


/*Téléphone mobile*/
@media screen and (max-width:768px) {
    body{
        border: red dotted 8px;
       
    }

    .presentation_contenu{
        display: grid;
        grid-template-columns: auto 200px;
        grid-template-rows: 200px;
    }
    .presentation_contenu img{
        /* content-visibility: hidden; */
        margin: auto;
        padding: 0;
    }
    
    .presentation_contenu div p{
        width: 100%;
        min-width: 400px;
        margin-top: 5px;
    }
}
/*Tablette*/
@media screen and (min-width: 768px)and (max-width:1200px){
    body{
        border: rgb(255, 187, 0) dashed 8px;
        font-size: large;
    }

}

/*Ordinateur*/
@media screen and (min-width: 1200px){
    body{
        border: rgb(0, 255, 13) solid 8px ;
        font-size: xx-large;
    }

}