@charset "utf-8";


/*Téléphone mobile*/
@media screen and (max-width:768px) {
    body{
        border: red dotted 8px;
       
    }

    .presentation_centrales div h3{
        content-visibility: visible;
    }

    .presentation_centrales div img{
        content-visibility: hidden;
        margin: auto;
        padding: 0;
    }
    
    .presentation_centrales div p{
        width: 100%;
        margin-top: 5px;
    }
}
/*Tablette*/
@media screen and (min-width: 768px)and (max-width:1200px){
    body{
        border: rgb(255, 187, 0) dashed 8px;
        font-size: large;
    }

}

/*Ordinateur*/
@media screen and (min-width: 1200px){
    body{
        border: rgb(0, 255, 13) solid 8px ;
        font-size: xx-large;
    }

}