
.a_propos
{
    /*placement flex-row, avec wrap*/
    display: flex;
    flex-wrap: wrap;
}

.a_propos p{

    /*ajoute du padding à la fin distancer la prochaine section*/
    padding-bottom: 100px;
}

.presentation_section h2{
    margin: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.presentation_section article{

    /*chaque article du la section presentation*/
    /*aura une largeur de 100%*/
    width: 100%;

    /*les enfants des articles seront placé dans une grille*/
    display: grid;
   
    /*unne colonne*/
    grid-template-columns: 10% auto 10%;
    /*premiere ligne aura label et l'input*/
    /*deuxieme ligne aura le contenu*/
    grid-template-rows: 65px auto;
}

label, input{
    /*premiere ligne, toute la colonne*/
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1 ;
    grid-row-end: 2;
}

.presentation_section h2, label{

    /*place l'élément par-dessus le boxshadow de .presentation_contenu*/
    z-index: 10;

    /*visuel*/
    /*donne un box-shadow au label*/
    background-image: url(./Textures/prism.png);
    border-top: rgba(128, 128, 128, 0.13) solid 4px;
    box-shadow: 0px 5px 10px 2px black;
}


input{
    /*margin 0*/
    margin: 0;
    /*fait apparaite le curseur par-dessus la barre de déroulement*/
    cursor:pointer;
    /*cache le checkbox*/
    opacity: 0;

    /*Place l'input par-dessus le texte*/
    z-index: 90;

    /*prend la largeur et hauteur du container*/
    width: 100%;
    height: 100%; 
} 

.titre_deroulant{

    /*premiere ligne centre de la colonne*/
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1 ;
    grid-row-end: 2;

    /*prend la largeur du container*/
    width: 100%;
    /*palce les elements en row, avec le plus d'espace possible entre eux*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    z-index: 10;

    /*aligne au centre les enfants*/
    align-items: center;
}

.titre_deroulant img{
    /*place l'image miniature du label dans la 2e colonne, premiere ligne */
    /*toujours 50px de largeur*/
    width: 50px;
    height:auto;
}

.titre_deroulant h3{

    /*largeur suit le titre*/
    /*donne une margin à gauche de 10px*/
    margin-left: 10px;
    width: fit-content;

    /*texte blanc avec text-shadow*/
    color: whitesmoke;
    text-shadow: 3px 3px black;
}

h3:after {

    /*ajoute une fleche à droite du titre*/
    width: 100px;
	content: "\25BC";
    color: gray;
}

img{

    /*visuel des images*/
    /*donne une ombre et donne une bordure avec les coins de l'image*/
    border:gray solid 4px;
    border-radius: 20px;
    box-shadow: black 10px 10px 25px;
}



.presentation_contenu {

    /*toute la colonne, 2e ligne*/
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    /*le contenu lui-mem est une grille*/
    display: grid;
    /*premiere colonne à un minimum de 500px, la deuxieme sera toujours 400px*/
    grid-template-columns: minmax(500px, auto) 400px;
    grid-template-rows: auto;
    gap: 10px;

    /*background triangle gris*/
    background-image: url(./Textures/triangular.png);

    /*30px de padding sauf pour le bas*/
    padding: 30px;
    padding-bottom: 0px;    
}

.presentation_contenu img{

    /*sera dans la 2e colonne*/
    grid-column-start: 2;
    grid-column-end: 3;

    /*prend la largeur du container*/
    width: 100%;
    
   

}

.presentation_contenu p{

    /*pas de marge*/
    margin: 0;

    /*prend la 1e colonne au complet*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.a_propos::after,
.presentation_contenu::after{

    /*crée une ombre au pied*/
    /*contenu vide, largeur 100%, hauteur 0*/
    content: '';
    width: 100%;
    height: 0;

    /*prend la derniere ligne au complet*/
    grid-row-end:auto;
    grid-column-start: 1;
    grid-column-end: 3;

    /*le shadow*/
    box-shadow: 0px 10px 180px 50px black;
}

article:last-child::after{

    /*prend la largeur de la derneire ligne*/
    grid-column-start: 1;
    grid-column-end: 4;


    /*ajoute une bordure apres le derniere article*/
    content: '';

    /*pleine largeur, 30px de haut*/
    width: 100%;
    height: 30px;

    /*background et bordure indentique aux labels*/
    background-image: url(./Textures/prism.png);
    border-top: rgba(128, 128, 128, 0.13) solid 4px;
    box-shadow: 0px 5px 10px 2px; 
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    /*ce place par-dessus le shadow du derniere article*/
    z-index: 10;
}

input:not(:checked) + label+.titre_deroulant +.presentation_contenu{
    /*cache la présentation des centrales non cochées*/
    display: none;
}

input:checked + label + .titre_deroulant h3:after {

    /*change la fleche si le contenu est visible*/
	content: "  \1405";
    color: rgb(68, 68, 68);
}
