
:root{
    /*Force le box-sizing a tout tout tout le monde*/
    box-sizing: border-box;

}



h2{

    color: rgb(30, 255, 0);
}

.presentation_centrales
{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.presentation_centrales div{

    width: 100%;
    
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100%;
}

/* .presentation_centrales div h3{
    width: 70%;
    height: 25px;

} */

.presentation_centrales div p{
    margin: 24px;
    grid-column-start: 2;
    grid-column-end: 4;
    

    background-color:blue;
}

.presentation_centrales div img{

    width: 100%;
    height: auto;
    margin: 16px 0px;
    border-radius: 25px;

    min-width: 250px;
    min-height: 250px;;
    grid-column-start: 1;
}

/* 
.presentation_centrales div:nth-child(2n) h2{

    grid-column-start: 2;
    
} */

.presentation_centrales div:nth-child(2n) p{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: aqua;
}

.presentation_centrales div:nth-child(2n) img{

    grid-column-start: 3;
}

