
@import url('https://fonts.googleapis.com/css2?family=Blaka+Ink&family=Calligraffitti&family=Josefin+Sans:ital@1&family=Kanit:ital,wght@0,500;1,500&family=Press+Start+2P&family=Roboto+Mono:wght@100;500&display=swap');
/*chalk font*/
@import url('https://fonts.googleapis.com/css2?family=Blaka+Ink&family=Calligraffitti&family=Fredericka+the+Great&family=Josefin+Sans:ital@1&family=Kanit:ital,wght@0,500;1,500&family=Press+Start+2P&family=Roboto+Mono:wght@100;500&display=swap');


:root{
    /*Force le box-sizing a tout tout tout le monde*/
    /* box-sizing: border-box; */
}

*,*::before,*::after{
    /*Force le box-sizing a tout tout tout le monde*/
    box-sizing: inherit;

    /*Font par default de la page*/
    font-family: 'Fredericka the Great', cursive;
    font-weight:lighter;
    text-shadow: 1px 1px black;

    /*Augmente l'espace entre les lignes pour rendre le texte plus lisible avec le glow*/
    line-height: 2;
}

body{

    background-color: aquamarine;
    
}

main{
    background-color: rgb(235, 136, 226);
}

header{
    background-color: chocolate;
    
}

.banniere{
    color: aliceblue;
    text-align: center;
    text-shadow: 2px 2px black;
}

nav{
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

section{
    background-color: rgb(130, 130, 230)
}

section:nth-child(2){
    background-color: rgb(61, 61, 184);
    background-image: url("./Textures/ep_naturalwhite.png");
}

section:nth-child(3){
    background-color: rgb(1, 1, 153)
}

section:nth-child(4){
    background-color: rgb(0, 0, 66)
}

div{
    background-color: rgb(17, 196, 17);
}

div:nth-child(2){
    background-color: rgb(127, 161, 6);
}

div:nth-child(3){
    background-color: rgb(5, 105, 5);
}

div:nth-child(4){
    background-color: rgb(5, 94, 5);
}
div:nth-child(5){
    background-color: rgb(38, 77, 38);
}
div:nth-child(6){
    background-color: rgb(7, 51, 7);
}
div:nth-child(7){
    background-color: rgb(1, 31, 1);
}

ul 
{
    background-color: rgb(168, 73, 73);
}

li{
    background-color: brown;
}

footer{
    background-color: blueviolet;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}