
@import url('https://fonts.googleapis.com/css2?family=Blaka+Ink&family=Calligraffitti&family=Josefin+Sans:ital@1&family=Kanit:ital,wght@0,500;1,500&family=Press+Start+2P&family=Roboto+Mono:wght@100;500&display=swap');
/*chalk font*/
@import url('https://fonts.googleapis.com/css2?family=Blaka+Ink&family=Calligraffitti&family=Fredericka+the+Great&family=Josefin+Sans:ital@1&family=Kanit:ital,wght@0,500;1,500&family=Press+Start+2P&family=Roboto+Mono:wght@100;500&display=swap');
/*raleway*/
@import url('https://fonts.googleapis.com/css2?family=Blaka+Ink&family=Calligraffitti&family=Fredericka+the+Great&family=Josefin+Sans:ital@1&family=Kanit:ital,wght@0,500;1,500&family=Press+Start+2P&family=Raleway:wght@600&family=Roboto+Mono:wght@100;500&display=swap');

/*poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,900;1,600;1,900&display=swap');

/*babas neue*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Blaka+Ink&family=Calligraffitti&family=Fredericka+the+Great&family=Josefin+Sans:ital@1&family=Kanit:ital,wght@0,500;1,500&family=Press+Start+2P&family=Raleway:wght@600&family=Roboto+Mono:wght@100;500&display=swap');

*,*::before,*::after{
    /*Force le box-sizing a tout tout tout le monde*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;

    /*Font par default de la page*/
    /* font-family: 'Fredericka the Great', cursive; */

    /* outline: 1px solid red; */
}

body{

    background-image: url(./Textures/vintage-concrete.png);
    background-image: url("./Textures/aqua_naturel.png");
    margin: 0;
    /* display: grid;
    grid-template-rows: 35%; */

    font-family: 'Raleway', cursive;
    font-family: 'Poppins', sans-serif;
    font-weight:lighter;
   
    font-style: normal;
    
    text-shadow: 1px 1px rgb(32, 32, 32);

    /*Augmente l'espace entre les lignes pour rendre le texte plus lisible avec le glow*/
    line-height: 2;
   
}



main{
    background-image: url(./Textures/vintage-concrete.png);
    background-image: url("./Textures/aqua_naturel.png");
    padding-top: 50px;
     
}

h1{

    font-family: "Bebas Neue", sans-serif;
    font-size: 10rem;
    margin: 0;
    padding: 0;
    position:absolute;


    width: 100%;
    

    color: aliceblue;
    text-align: center;
    

    text-shadow: 4px 4px black;
    animation: battementCoeur 0.75s infinite alternate;

   

}

@keyframes battementCoeur{
    0%
    {
      transform: scale( .75 );
      color: white;
      
    }
    15%
    {
      transform: scale(2 );
      color: rgba(255, 0, 0, 0.438);
      text-shadow: 4px 4px rgb(223, 125, 125);
      /* color: #00bf9979;
      text-shadow: 4px 4px #00BF9A; */
    }
    30%
    {
      transform: scale( .85 );
      color: white;
    }
    35%
    {
      transform: scale( 2 );
      color: rgba(255, 0, 0, 0.438);
      text-shadow: 4px 4px rgb(223, 125, 125);
      /* color: #00bf9979;
      text-shadow: 4px 4px #00BF9A; */

    }
    80%
    {
      transform: scale( .85 );
    }
    100%
    {
      transform: scale( .85 );
    }
}


h2{
    /* color: hotpink; */

    /* color: aliceblue;
    background-image: url("./Textures/triangular_teal.png");

    width:fit-content; */
    padding-left: 10px;
    padding-right: 10px;

    /* border: #444 solid;
    border-right: transparent;
    border-top: transparent;
    border-radius: 4px;

    box-shadow: 0px 2px 20px 0px black; */

    font-style: italic;
    font-weight: bolder;

    color: whitesmoke;
    font-size: 3rem;
    text-shadow: 2px 3px black;

}

p{
    margin-right: 10px;
    margin-left: 20px;
    padding-left: 10px;
    padding: 20px;
}

p,h2, h3{

    margin: 0;
    margin-right: 10px;
    margin-left: 20px;
}

a{
    color: #00BF9A;
}

a:link,
a:visited{
    text-decoration: none;
    background-color: transparent;
}

a:hover{
    background-color: #00BF9A;
    color: black;
    border-radius: 5px;
}

header{

    width: 100vw;

    /*aligne le h1 au centre*/
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    overflow: hidden;
    position: relative;
}

.banniere_images{

    height: auto;
    display: flex;
    overflow: hidden;
}



.banniere_images img{

    animation: scrollBanniere1 80s linear infinite;   
    z-index: -100;
    
    border: 0;
    white-space: nowrap;
}

@keyframes scrollBanniere1{
    0%{transform: translateX(0);} 
    100%{transform: translateX(-100%);} 
}


nav{
    background-image: url(./Textures/prism.png);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    position: sticky;

    top: 0;
    /*Place la barre de nav par-dessus tout*/
    z-index: 100;
    padding: 10px;

    border-top: rgba(128, 128, 128, 0.13) solid 4px;
    box-shadow: 0px 5px 10px 2px;
    border-radius: 2px;

}


nav a{
    padding-left: 10px;
    padding-right: 10px;
    align-self: center;
}



nav a.nav_active{
    border:#00BF9A solid;
    border-radius: 5px;
    color: aliceblue;
}


ul 
{
    background-color: rgb(168, 73, 73);
    list-style: none;
}

li{
   color:whitesmoke;
}

footer::before
{
    height: 100px;
    content: '';
    display: block;


    border-radius: 0px 0px 40px 40px;
    background-image: url(./Textures/aqua_naturel.png);

    
}

footer{

    background-image: url(./Textures/prism.png);
    margin: 0;
    padding: 0;

    width: 100%;
    position:absolute;

    left: 0;
}

footer ul{

    background-image: url(./Textures/prism.png);
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;

    align-self: flex-end;

    border-radius: -40px 0px 0px 0px;

}