
main{

    /*padding*/
    padding: 25px;

    /*les elements de cette pages seront placé en row*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section_contact article,
.section_formulaire{

    /*visuel*/
    border-radius: 25px;
    border: #444 solid 4px;
    border-right: transparent;
    border-top: transparent;
    box-shadow: 0px 2px 20px 10px black;
}

.section_formulaire{
    /*prend la largeur du main avec 15px de padding*/
    width: 100%;
    padding: 15px;

    /*visuel*/
    background-image: url("./Textures/triangular.png");
}


.section_formulaire form{

    /*place les éléments du formulaire dans une grille*/
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: minmax(40px, 10%) minmax(40px, 10%);
    gap: 10px;
}


.formulaire_nom,
.formulaire_prenom,
.formulaire_courriel,
.formulaire_commentaire,
.envoyer{

    /*fond blanc*/
    background-color:aliceblue;
    
    /*prend la grosseur du container*/
    width: 100%;
    height: 100%;

    /*padding*/
    padding: 10px;

    /*la hauteur minimal*/
    min-height: 40px;

    /*pas de bordure, coupe les coins*/
    border: transparent;
    border-radius: 10px;
}

.formulaire_nom{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.formulaire_prenom{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}


.formulaire_courriel{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.formulaire_commentaire{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}

.envoyer{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.envoyer:hover{
    /*highlight le bouton envoyer quand on hover*/
    cursor: pointer;
    border: #444444a1 solid;
}

.section_contact{

    /*prend la largeur au complet*/
    width: 100%;

    /*place les éléments dans 4 fractions égalent d'une grille*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 15px; 
    padding: 25px;
}

.section_contact h3{
    /*pas de marge*/
    /*trace un ligne sous le titre*/
    margin-left: 0;
    border-bottom: #444 solid;
}

.section_contact article{
    
    /*prend la largeur au complet*/
    width: 100%;
   
    /*place le contenu en flex colonne avec un wrap*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    /*visuel*/
    color: aliceblue;
    background-image: url("./Textures/triangular_teal.png");
    padding: 10px;
    border: #444 solid 4px;
    border-right: transparent;
    border-top: transparent;
    box-shadow: 0px 2px 20px 2px black;
    border-radius: 10px;
}

.section_contact article p{
    
    /*visuel*/
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0.6em;
}

.contact article:first-child {
    grid-column-start: 1;
    grid-column-end: 2;
}
.contact article:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
}
.contact article:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 4;
}
.contact article:nth-child(4) {
    grid-column-start: 4;
    grid-column-end: 5;
}





