

/*Source d'aide pour le carousel de nouvelle: https://codepen.io/dp_lewis/pen/WNZQzN*/

:root{
    /*les nouvelle_wrappers et noulle_labels doivent etre freres mais avoir la meme largeur toujours*/
    --const-largeur_nouvelle: 95%;
    /*chaque translateX d'un wrapper de nouvelle doit avoir +5% d"offset*/
    --offset_page_nouvelle:-5%;
}

.section_milieu_impactes{
    /*donne du padding entre cette section et la section des actualité*/
    padding-bottom: 50px;
}

.section_actualite{

    /*Donne du padding entre la section actualité et le footer*/
    padding-bottom: 25px;

    /*Background pour la section actualité*/
    background-image: url("./Textures/prism.png");
    border-radius: 15px 15px 15px 15px;
    border-top: rgba(128, 128, 128, 0.13) solid 4px;
    box-shadow: 0px 5px 80px 10px black;
    margin: 15px;
    
    /*place l'ombre par-dessus l'élément ::before du footer*/
    z-index: 10;
}

.section_actualite h2 {

    /*la section actualité n'a pas un h2 comme les autres sections*/
    background: none;
    border: none;
    box-shadow: none;
}

.page_des_nouvelles {

    /*une colonne par nouvelle*/
    display: grid;
    grid-template-columns: 100% 100% 100%;
   
    /*cache les nouvelles à l'extérieur de l'écran*/
    overflow: hidden;

    height: 100%;
}

.wrapper_nouvelle{
    /*centre les nouvelles avec la meme largeur de le label*/
    width: var(--const-largeur_nouvelle);
    justify-self: center;
    /*transition lorsqu'on change de nouvelle*/
    transition: transform 400ms ease-out;
}



.nouvelle{


    /*prend 100% de la largeur*/
    width: 100%;
    /*minimum et maximum de hauteur pour prévenir des comportement étrange avec height fit-content*/
    min-height: 80%;
    max-height: 100%;
    /*Modifie la hauteur de la nouvelle selon son contenu*/
    height: fit-content;

    /*gap de colonne*/
    column-gap: 10px;

    /*place les élements de la nouvelle dans un grille*/
    display: grid;
    /*le titre sera sur la premiere ligne*/
    /*l'image sera dans la premiere partie de la 2e ligne avec une largeur de 200px max*/
    /*le texte sera dans la 2e partie de la 2e ligne*/
    /*des 5% de padding de chaque coté pour nos fleches*/
    grid-template-columns: 5% 200px auto 5%;
    /*la premiere ligne ajuste ça hauteur avec la grosseur du titre*/
    /*la 2e ligne prend l'espace restant en laissant 5% de padding à la fin*/
    grid-template-rows: min-content auto 5%;
    
    /*visuel d'une nouvelle*/
    background-image: url(./Textures/triangular.png);
    border: rgba(128, 128, 128, 0.582) solid 5px;
    border-top: none;
    border-right: none;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;


}

.nouvelle h3{

    /*place le titre sur la premiere ligne entre les 5% de padding*/
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2; 

    /*retire la marge*/
    margin: 0;
    /*ajoute du padding en-haut et en-bas du titre*/
    padding-top: 1%;
    padding-bottom: 1%;

    /*renvoie le titre sur la prochaine ligne, si le titre est trop long*/
    white-space: normal;

    /*visuel du titre*/
    color:white;
    text-shadow: 2px 2px black;
    font-style: italic;
}

.nouvelle  img {

    /*l'image sera sur la 2e ligne, premiere partie après les 5% de buffer*/
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    /*l'image aura la largeur de son container, la hauteur s'ajustera pour préservé les dimensions*/
    width: 100%;
    height: auto;

    /*coupe les coins ronds*/
    border-radius: 25px;
}

.nouvelle p{
    
    /*le texte sera sur la 2e ligne et 3e colonne*/
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    /*prend le plus d'espace possible dans son container, avec du padding*/
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 15px;

    /*permet de scroll si le texte est trop long*/
    overflow:auto;
 
    /*visuel*/
    border-radius: 25px;
    background-color: #44444494;

    
}


.nouvelle:hover,
.nouvelle:hover img{

    /*comme les nouvelles sont des liens, ajoute un effet d'highlight quand on hover*/
    background-color: transparent;
    border: #00BF9A 5px solid;
    color: #00BF9A;
    /* text-shadow: 1px 1px rgb(18, 217, 231); */
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

input {
    /*cache les boutons radio*/
	position: absolute;
    opacity: 0;
}


#wrapper_nouvelle_1,#label_nouvelle_1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2; 
}
#wrapper_nouvelle_2,#label_nouvelle_2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; 
}
#wrapper_nouvelle_3,#label_nouvelle_3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2; 
}

#nouvelle_1:checked ~ #label_nouvelle_1, 
#nouvelle_2:checked ~ #label_nouvelle_2,
#nouvelle_3:checked ~ #label_nouvelle_3{
    
   z-index: 0;
}


/*bouge tout les labels suivant input1 de 0 quand le bouton input 3 est checked*/
#nouvelle_1:checked ~ label,
#nouvelle_1:checked ~ label + article{
    /*mouvement lorsqu'on appui sur un bouton*/
     /* transform: translate3d(0, 0, 0); */
	transform: translateX(calc(calc(-100% * 0) + calc(var(--offset_page_nouvelle)*0)));
}

/*bouge tout les labels suivant input2 de -103% quand le bouton input 3 est checked*/
#nouvelle_2:checked ~ label,
#nouvelle_2:checked ~ label + article{
	/* transform: translate3d(-105%, 0, 0); */
    transform: translateX(calc(calc(-100% * 1) + calc(var(--offset_page_nouvelle)*1)));
}

/*bouge tout les labels suivant input3 de -203% quand le bouton input 3 est checked*/
#nouvelle_3:checked ~ label,
#nouvelle_3:checked ~ label + article{
    /* transform: translate3d(-210%, 0, 0); */
	transform: translateX(calc(calc(-100% * 2) + calc(var(--offset_page_nouvelle)*2)));
}


label {

    width: var(--const-largeur_nouvelle);
    /*la grosseur du bouton s'ajuste avec la grosseur de l'écran*/
    height: 50vh;
	
	position: relative;
	z-index: 1;

    /*transition du mouvement lorsquon change de nouvelles*/
    transition: transform 400ms ease-out;

    /*centre les nouvelles*/
    justify-self: center;
}


.page_des_nouvelles label:before,
.page_des_nouvelles label:after {

     /*couleur de la fleche*/
    background-color:#444444af;
	color: #fff;
    /*dimension de la fleche*/
	padding: 2rem;
    width: 2rem;
    height: 100px;
	font-size: 4rem;
    line-height: 2rem;

    /*place en haut des nouvelles*/
    /*positionnement de la fleche*/
	position: absolute;
    top: 50px;
    


	transform: translate3d(0, -50%, 0);
    /*ajotue un curseur lorsqu'on place la souris sur la fleche*/
	cursor: pointer;

    /*s'assure de placer les fleches par-dessus les nouvelles*/
    z-index: 50;
}


.page_des_nouvelles label:before {
    /*fleche droite déplace vers le prochain article*/
	content: "\276D";
	right: 105%;
    /*courbe les coins voulus*/
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;

}

.page_des_nouvelles label:after {
    /*fleche gauche déplace vers l'article précédent*/
	content: "\276C";
	left: 105%;
    /*courbe les coins voulus*/
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	
}












