
h2{
    color: hotpink;
}

.section_actualite{

    width: 300vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section_actualite > h2{

    width: 100%;
  
}

.section_actualite div{

    width: 90vw;
}